# MQTT broker connection
MQTT_BROKER_URL=mqtt://127.0.0.1
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

# MongoDB Atlas connection string
MONGODB_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net?retryWrites=true&w=majority
